<!--This page allows you add a disscussion topic regarding issues a user may be facing regarding
the app or personal issues the user is going through. -->
<!DOCTYPE html>

<html lang="en">

<head>

  <meta charset="UTF-8">

  <link rel="stylesheet" type="text/css" href="disscussion.css"/>

</head>

<body>

<div class="container">
<img style="width: 100%; height: 100%; mix-blend-mode: darken" />
<a href="/home">  <img style="width: 49px; height: 52px; left: 20px; top: 20px; position: absolute; mix-blend-mode: darken" src="/images/image 12.png" /> </a>
<div style="left: 90px; top: 90px; position: absolute; text-align: center; color: black; font-size: 28px; font-family: Inter; font-weight: 400; word-wrap: break-word">Add a disscussion topic</div>
<input type="text" name="subject" id="subject" value="" placeholder="Subject" required>
<textarea id="message" rows="6" cols="50" placeholder="Message"></textarea>
<button id="post" class="button-tailoring">Post</button> </a>
<a href="/community"> <button class="button-tailor">View community disscussions</button> </a>

</div>
<script src="script.js"></script>
</body>

</html>
