<!-- This page will display a rating out of 5 based on how well you did your excersices. you will
also be able to view previous quizzes and flashcard sets for review and you can view general statistics
such as time spent on average, Tailored content based on etc. -->

<!DOCTYPE html>


<html lang="en">


<head>


  <meta charset="UTF-8">


  <link rel="stylesheet" type="text/css" href="feedback.css"/>


</head>


<body>


    <div class="container">

    <img style="width: 100%; height: 100%; mix-blend-mode: darken" />

    <a href="/home">  <img style="width: 49px; height: 52px; left: 20px; top: 20px; position: absolute; mix-blend-mode: darken" src="/images/image 12.png" /> </a>

    <input type="text" name="search" id="search" value="" placeholder="Search" required> 

    <img id="profileImage" style="width: 125px; height: 125px; left: 40px; top: 220px; position: absolute; src="/images/image 1.png" />

    <input type="file" id="fileInput" style="display: none;" />

    <img style="width: 125px; height: 125px; left: 240px; top: 220px; position: absolute; mix-blend-mode: darken" src="/images/image 24.png" />
    
    <a href="/upcoming"> <div class="quiz-tailor"></div> </a> 
    <a href="/upcoming"> <div class="flashcard-tailor"></div> </a>
    <a href="/upcoming"> <div class="statistic-tailor"></div> </a>

    <div style="left: 130px; top: 455px; position: absolute; text-align: center; color: black; font-size: 28px; font-family: Inter; font-weight: 400; word-wrap: break-word">View Quizzes</div>
    <div style="left: 125px; top: 605px; position: absolute; text-align: center; color: black; font-size: 28px; font-family: Inter; font-weight: 400; word-wrap: break-word">View Flashcards</div>
    <div style="left: 130px; top: 755px; position: absolute; text-align: center; color: black; font-size: 28px; font-family: Inter; font-weight: 400; word-wrap: break-word">View Statistics</div>
</div>
<script src="script.js"></script>
</body>

</html>
