<!DOCTYPE html>

<html lang="en">

<head>

  <meta charset="UTF-8">

  <link rel="stylesheet" type="text/css" href="upcoming.css"/>

</head>

<body>

    <div class="container">
    <div style="left: 70px; top: 400px; position: absolute; text-align: center; color: black; font-size: 26px; font-family: Inter; font-weight: 400; word-wrap: break-word">This feature
    will be available <br> in a future update</div>
    <img style="width: 100%; height: 100%; mix-blend-mode: darken" />
    <a href="/meditation"> <img style="width: 49px; height: 52px; left: 20px; top: 20px; position: absolute; mix-blend-mode: darken" src="/images/image 2.png" /> </a>
    
    </div>
</body>
</html>