<!-- This page allows a user to giving a bit more detail about themselves and the purpose for the
application. -->

<!-- Once the user gives their details and selects tailor button all the content (quiz, flashcards,
meditation and relaxation excercises) are tailored so the user sees specific content contary to
their problem. -->

<!DOCTYPE html>

<html lang="en">

<head>

  <meta charset="UTF-8">

  <link rel="stylesheet" type="text/css" href="aboutyou.css"/>

</head>

<body>

    <div class="container">

    <img style="width: 100%; height: 100%; mix-blend-mode: darken" />

    <a href="/home">  <img style="width: 49px; height: 52px; left: 20px; top: 20px; position: absolute; mix-blend-mode: darken" src="/images/image 12.png" /> </a>

    <textarea id="describe" rows="6" cols="50" placeholder="Tell me a bit about yourself."></textarea>

    <textarea id="description" class="textarea-tailor"  rows="6" cols="50" placeholder="Describe the purpose for using the app."></textarea>

    <button id = "tailorContentButton" class="button-tailor" type="submit"  value="tailorcontent">Tailor content</button> </a>

</div>

<script src="script.js"></script>

</body>

</html>
