<!DOCTYPE html>

<html lang="en">

<head>

  <meta charset="UTF-8">

  <link rel="stylesheet" type="text/css" href="aboutyousuccess.css"/>

</head>

<body>

    <div class="container">
    <div style="left: 10px; top: 400px; position: absolute; text-align: center; color: black; font-size: 26px; font-family: Inter; font-weight: 400; word-wrap: break-word">Content has been tailored <br> and will be implemented in a future update</div>
    <a href="/home"> <button class="button-tailor">Return to the home menu</button> </a>
    </div>
</body>
</html>
