<!-- This page provides links to articles on mental health.-->

<!DOCTYPE html>

<html lang="en">

<head>

  <meta charset="UTF-8">

  <link rel="stylesheet" type="text/css"  href="article4.css" />
 
</head>

<body>

<div class="container">
<a href="/indepthguide4"> <img style="width: 49px; height: 52px; left: 20px; top: 20px; position: absolute; mix-blend-mode: darken" src="/images/image 2.png" /> </a>
<div style="left: 145px; top: 80px; position: absolute; text-align: center; color: black; font-size: 32px; font-family: Inter; font-weight: 400; word-wrap: break-word">Wellbeing</div>
<p>Wellbeing is A state of overall health and contentment, As well as trying to have a physical, 
mental, and emotional balance. It is not merely the absence of illness,but having sense of vitality 
and just thriving. Wellbeing includes positive relationships, a sense of purpose, the ability to 
manage stress effectively, as well as the pursuit of life goals and personal fulfillment.</p>
<div style="left: 30px; top: 410px; position: absolute; text-align: center; color: black; font-size: 24px; font-family: Inter; font-weight: 400; word-wrap: break-word">Links to articles below:</div>

<a href="https://www.news-medical.net/news/20230926/How-the-COVID-19-pandemic-affected-mental-well-being-of-UK-secondary-school-students.aspx" target="_blank"
rel="noopener noreferrer" class="url-tailor">How covid19 affected young peoples wellbeing</a>

<a href="https://www.theguardian.com/teacher-network/2017/aug/25/childrens-mental-health-its-time-to-put-wellbeing-on-the-curriculum" target="_blank"
rel="noopener noopener" class="url-tailoring">Adding wellbeing to the curriculum</a>

<a href="https://www.nice.org.uk/news/article/positive-healthcare-experience-for-babies-children-and-young-people-essential-to-their-wellbeing" target="_blank"
rel="noopener noreferrer" class="url-tailored">How postive experiences are essential to young people wellbeing</a>

<a href="https://www.bbc.co.uk/bitesize/articles/zndp6v4" target="_blank"
rel="noopener noreferrer" class="presentation-tailor">5 ways to support children mental health and wellbeing</a>

</div>

</body>

</html>