<!--These pages will display true or false questions associated with bullying-->

<!DOCTYPE html>

<html lang="en">

<head>

<meta charset="UTF-8">

<link rel="stylesheet" type="text/css"  href="mentalhealthquiz.css" />

</head>

<body>

<div class="container">
<img style="width: 100%; height: 100%; mix-blend-mode: darken" />
<a href="/home">  <img style="width: 49px; height: 52px; left: 20px; top: 20px; position: absolute; mix-blend-mode: darken" src="/images/image 12.png" /> </a>
<a href="/feedback"> <img style="width: 49px; height: 52px; left: 359px; top: 20px; position: absolute; mix-blend-mode: darken" src="/images/image 8.png" /> </a>
<div style="left: 140px; top: 100px; position: absolute; text-align: center; color: black; font-size: 32px; font-family: Inter; font-weight: 400; word-wrap: break-word">Question 1</div>
<hr class="hr-tailor"/>
<div class="select-tailor"></div>
<a href="/quiz"> <img style="width: 57px; height: 54px; left: 136px; top: 800px; position: absolute; mix-blend-mode: darken" src="/images/image 2.png" /> </a> 
<img style="width: 57px; height: 54px; left: 232px; top: 800px; position: absolute; mix-blend-mode: darken" src="/images/image 25.png" /> 
</div>

</body>

</html>