<!-- This page allows you to see posts from other users, the most first and most recent post 
and how many repiles have taken place within the disscusion.-->

<!DOCTYPE html>

<html lang="en">

<head>

  <meta charset="UTF-8">

  <link rel="stylesheet" type="text/css" href="community.css"/>

  </head>

  <body>

    <div class="container">
    <img style="width: 100%; height: 100%; mix-blend-mode: darken" />
    <a href="/disscussion"> <img style="width: 49px; height: 52px; left: 20px; top: 20px; position: absolute; mix-blend-mode: darken" src="/images/image 2.png" /> </a> 
    <div style="left: 30px; top: 90px; position: absolute; text-align: center; color: black; font-size: 28px; font-family: Inter; font-weight: 400; word-wrap: break-word">Discussions</div>
    <div style="left: 180px; top: 90px; position: absolute; text-align: center; color: black; font-size: 28px; font-family: Inter; font-weight: 400; word-wrap: break-word">First<br>post </div>
    <div style="left: 260px; top: 90px; position: absolute; text-align: center; color: black; font-size: 28px; font-family: Inter; font-weight: 400; word-wrap: break-word">Last<br>post</div>
    <div style="left: 325px; top: 90px; position: absolute; text-align: center; color: black; font-size: 28px; font-family: Inter; font-weight: 400; word-wrap: break-word">Repiles</div>

   <hr class="hr-tailor"/>
   <hr class="hr-tailoring"/>
   <hr class="hr-tailored"/>
   <hr class="hr-tailortailor"/>

   </div>

  </body>

</html>