<!--This page displays the result of adding a post to the forum. -->

<!DOCTYPE html>

<html lang="en">

<head>

  <meta charset="UTF-8">

  <link rel="stylesheet" type="text/css" href="disscussionsuccess.css"/>

</head>

<body>

    <div class="container">
        <div style="left: 10px; top: 400px; position: absolute; text-align: center; color: black; font-size: 26px; font-family: Inter; font-weight: 400; word-wrap: break-word">post has
        been saved and <br> will displyed on the community forum page at a later date</div>
        <a href="/home"> <button class="button-tailoring">Return to the home menu</button> </a>
        <a href="/community"> <button class="button-tailor">View community discussions</button> </a>
    </div>

</body>

</html>
