<!DOCTYPE html>

<html lang="en">

<head>

  <meta charset="UTF-8">

  <link rel="stylesheet" type="text/css"  href="mentalhealthflashcard.css" />

</head>

<body>

<div class="container">
<img style="width: 100%; height: 100%; mix-blend-mode: darken" />
<a href="/home">  <img style="width: 49px; height: 52px; left: 20px; top: 20px; position: absolute; mix-blend-mode: darken" src="/images/image 12.png" /> </a>
<a href="/feedback"> <img style="width: 49px; height: 52px; left: 359px; top: 20px; position: absolute; mix-blend-mode: darken" src="/images/image 8.png" /> </a>
<div style="left: 120px; top: 100px; position: absolute; text-align: center; color: black; font-size: 32px; font-family: Inter; font-weight: 400; word-wrap: break-word">Mental Health</div>
<hr class="hr-tailor"/>
<a href="/mentalhealthflashcard3"> <div class="select-tailor"></div> </a>
<div style="left: 50px; top: 290px; position: absolute; text-align: left; color: black; font-size: 32px; font-family: Inter; font-weight: 400; word-wrap: break-word">A mental state achieved <br> by focusing one's <br> awareness on the present <br> moment while calmly acknowledging and accepting one's feelings, thoughts, and bodily sensations.</div>
<a href="/mentalhealthflashcard2"> <img style="width: 57px; height: 54px; left: 136px; top: 800px; position: absolute; mix-blend-mode: darken" src="/images/image 2.png" /> </a> 
<a href="/mentalhealthflashcard4"> <img style="width: 57px; height: 54px; left: 232px; top: 800px; position: absolute; mix-blend-mode: darken" src="/images/image 25.png" /> </a>
</div>

</body>

</html>