<!-- This EJS template generates the login page for the application, displaying the forum name 
dynamically and providing a form for users to enter their login credentials. -->

<!-- It also includes navigation for new user registration and password recovery,along with 
client-side scripting for enhanced interactivity. -->


<!DOCTYPE html>

<html lang="en">

<head>

  <meta charset="UTF-8">

  <link rel="stylesheet" type="text/css" href="login.css" />

</head>

<body>

  <div class="container">

  <h1><%= forumName %></h1>

  <form action="/home" method="get">

    <input type="text" id="username" name="username" value="" placeholder="Username" required>

    <input type="password" id="password" name="password" value="" placeholder="Password" required>

    <label>

      <input type="checkbox" id="remember_me" name="remember_me" value=""> Remember me

    </label>

    <button id="loginButton">Login</button>

    <button id="registerButton" onclick="window.location.href='/register'">Register</button>

    <p> <a href="/forgot">Forgotten password</a> </p>

  </form>

</div>

<script src="script.js"></script>

</body>

</html>
