<!--This page allows you to enter a new password to login.-->

<!DOCTYPE html>

<html lang="en">

<head>

  <meta charset="UTF-8">

  <link rel="stylesheet" type="text/css" href="newpass.css" />

</head>

<body>

  <div class="container">

    <h1>Mental Health app</h1>

    <p>Your password has been reset</p>

    <form action="/home" method="get">

      <button type="submit" class="button-tailor" id="forgetButton">Go to main menu</button>

    </form>

    <a href="/" class="back-button">&larr;</a>

  </div>

</body>

</html>