<!-- This page provides links to presentations on bullying.-->

<!DOCTYPE html>

<html lang="en">

<head>

  <meta charset="UTF-8">

  <link rel="stylesheet" type="text/css"  href="presentation2.css" />

</head>

<body>

<div class="container">
<a href="/indepthguide2"> <img style="width: 49px; height: 52px; left: 20px; top: 20px; position: absolute; mix-blend-mode: darken" src="/images/image 2.png" /> </a>
<div style="left: 150px; top: 80px; position: absolute; text-align: center; color: black; font-size: 32px; font-family: Inter; font-weight: 400; word-wrap: break-word">Bullying</div>
<p>Bullying is a repeated, intentional behavior that involves putting someone down to fuel your ego. It can take the form of physical aggression, 
  verbal harassment, or social exclusion. Bullying can have serious and long-lasting effects on the mental health and well-being of individual. It's important to recognize, prevent, and take action against bullying in all forms.</p>
<div style="left: 30px; top: 400px; position: absolute; text-align: center; color: black; font-size: 24px; font-family: Inter; font-weight: 400; word-wrap: break-word">Links to presentation below:</div>

<a href="https://view.officeapps.live.com/op/view.aspx?src=https%3A%2F%2Fwww.idleprimaryschool.co.uk%2Fattachments%2Fdownload.asp%3Ffile%3D329%26type%3Dppt&wdOrigin=BROWSELINK" target="_blank"
rel="noopener noreferrer" class="url-tailor">Bullying overview</a>

<a href="https://view.officeapps.live.com/op/view.aspx?src=https%3A%2F%2Fanti-bullyingalliance.org.uk%2Fsites%2Fdefault%2Ffiles%2Fuploads%2Fattachments%2FAnti-Bullying%2520Week%25202020%2520-%2520Secondary%2520School%2520Lesson%2520Powerpoint_0_0.pptx&wdOrigin=BROWSELINK" target="_blank"
rel="noopener noreferrer" class="url-tailoring">Bullying in a group format</a>

<a href="https://view.officeapps.live.com/op/view.aspx?src=https%3A%2F%2Fparentscaregivers4wellness.org%2Fwp-content%2Fuploads%2F2022%2F03%2FParent-Bullying-Presentation-Imperial.pptx&wdOrigin=BROWSELINK" target="_blank"
rel="noopener noreferrer" class="url-tailored">Bullying: Parent advice</a>

<a href="https://www.slideshare.net/Prissykrissy/bullying-powerpoint" target="_blank"
rel="noopener noreferrer" class="presentation-tailor">Bullying: Early signs and statitsics</a>

<a href="https://view.officeapps.live.com/op/view.aspx?src=https%3A%2F%2Fwww.idleprimaryschool.co.uk%2Fattachments%2Fdownload.asp%3Ffile%3D330%26type%3Dppt&wdOrigin=BROWSELINK" target="_blank"
rel="noopener noreferrer" class="presentation-tailored">Bullying: Effects and prevention</a>

</div>

</body>

</html>