<!-- This page provides links to presentations on mental health.-->

<!DOCTYPE html>

<html lang="en">

<head>

  <meta charset="UTF-8">

  <link rel="stylesheet" type="text/css"  href="presentation.css" />

</head>

<body>

<div class="container">
<a href="/indepthguide"> <img style="width: 49px; height: 52px; left: 20px; top: 20px; position: absolute; mix-blend-mode: darken" src="/images/image 2.png" /> </a>
<div style="left: 125px; top: 80px; position: absolute; text-align: center; color: black; font-size: 32px; font-family: Inter; font-weight: 400; word-wrap: break-word">Mental health</div>
<p> Mental health includes our emotional, psychological, and social well-being. It affects how we think, feel, 
  and act as we cope with life. It also helps determine how we handle stress, relate to others, and make choices.</p>
<div style="left: 30px; top: 310px; position: absolute; text-align: center; color: black; font-size: 24px; font-family: Inter; font-weight: 400; word-wrap: break-word">Links to presentation below:</div>

<a href="https://view.officeapps.live.com/op/view.aspx?src=https%3A%2F%2Fwww.unicef.org.uk%2Frights-respecting-schools%2Fwp-content%2Fuploads%2Fsites%2F4%2F2021%2F09%2FActivity-YP3_-What-is-Mental-Health-and-Wellbeing_.pptx&wdOrigin=BROWSELINK" target="_blank" 
rel="noopener noreferrer" class="url-tailor">Mental Health and Wellbeing Presentation</a> 

<a href="https://view.officeapps.live.com/op/view.aspx?src=https%3A%2F%2Fwww.quilter.com%2Fsiteassets%2Fdocuments%2Fguides%2Fguide-for-supporting-mental-health.pptx&wdOrigin=BROWSELINK" target="_blank"
rel="noopener noreferrer" class="url-tailoring">Spotting the early signs of poor mental health</a>

<a href="https://www.slideshare.net/teenmentalhealth/understanding-mental-health-and-mental-illness-presentation" target="_blank"
rel="noopener noreferrer" class="url-tailored">Understanding mental health</a>

<a href="https://view.officeapps.live.com/op/view.aspx?src=https%3A%2F%2Fwww.mind.org.uk%2Fmedia%2Flhtl32er%2Fmind-speak-to-us-interactive-lesson-plan-3.pptx&wdOrigin=BROWSELINK" target="_blank"
rel="noopener noreferrer" class="presentation-tailor">Mind presentation: Mental health</a>

<a href="https://view.officeapps.live.com/op/view.aspx?src=https%3A%2F%2Fwarwick.ac.uk%2Ffac%2Fsoc%2Fcte%2Fconferences%2Finclusion2023%2Ftimetable%2Fparallel3%2Fintoduction_to_mh_-_warwick_uni_conference_2023.pptx&wdOrigin=BROWSELINK" target="_blank"
rel="noopener noreferrer" class="presentation-tailored">Rise presentation: Mental health</a>
</div>

</body>

</html>