<!-- This page provides links to presentations on physical/mental disabilities.-->

<!DOCTYPE html>

<html lang="en">

<head>

  <meta charset="UTF-8">

  <link rel="stylesheet" type="text/css"  href="presentation3.css" />

</head>

<body>

<div class="container">
<a href="/indepthguide3"> <img style="width: 49px; height: 52px; left: 20px; top: 20px; position: absolute; mix-blend-mode: darken" src="/images/image 2.png" /> </a>
<div style="left: 75px; top: 80px; position: absolute; text-align: center; color: black; font-size: 26px; font-family: Inter; font-weight: 400; word-wrap: break-word">Physical/Mental disabilities</div>
<p>Physical/mental disabilities are a diverse range of conditions that may impair a person's physical, 
  sensory, cognitive, or mental functions. These disabilities can genetic or developed growing up and 
  can vary in terms of severity. They may affect an individual's mobility, coordination, learning, 
  communication, or mental health. Recognizing the unique challenges and strengths of each person, 
  we can strive to foster an environment where individuals with disabilities can live with dignity and 
  participate within the community.</p>
<div style="left: 30px; top: 510px; position: absolute; text-align: center; color: black; font-size: 24px; font-family: Inter; font-weight: 400; word-wrap: break-word">Links to presentation below:</div>

<a href="https://www.slideshare.net/soharashed/children-with-disabilities" target="_blank"
rel="noopener noreferrer" class="url-tailor">Disabilities: types and statistics</a>

<a href="https://view.officeapps.live.com/op/view.aspx?src=https%3A%2F%2Fwww.nds.org.au%2Fimages%2Fresources%2FPromoting-The-Safety-of-Children-With-Disability_FINAL.pptx&wdOrigin=BROWSELINK" target="_blank"
rel="noopener noreferrer" class="url-tailoring">7 standards of supporting those with disabilities</a>

<a href="https://view.officeapps.live.com/op/view.aspx?src=https%3A%2F%2Fwww.txcte.org%2Fsites%2Fdefault%2Ffiles%2Fresources%2Fdocuments%2FThe%2520Education%2520of%2520Students%2520with%2520Special%2520Needs_0.pptx&wdOrigin=BROWSELINK" target="_blank"
rel="noopener noreferrer" class="url-tailored">Understansding special needs</a>

<a href="https://view.officeapps.live.com/op/view.aspx?src=https%3A%2F%2Fwww.worcestershire.gov.uk%2Fsites%2Fdefault%2Ffiles%2F2022-12%2Fsend_overview_presentation.pptx&wdOrigin=BROWSELINK" target="_blank"
rel="noopener noreferrer" class="presentation-tailor">Disabilities and special needs: support for parents and teachers</a>

</div>

</body>

</html>