<!DOCTYPE html>

<html lang="en">

<head>

  <meta charset="UTF-8">

    <link rel="stylesheet" type="text/css"  href="register.css" />

</head>

<body>

  <div class="container">

    <h1><%= forumName %></h1>

      <form action="/home" method="get">

      <p>You are now registered</p>

      <button type="submit" id="joinButton" value="register">Go to the main menu</button>

    </form>

    <a href="/" class="back-button">&larr;</a>

  </div>

</body>

</html>