<!DOCTYPE html>

<html lang="en">

<head>

  <meta charset="UTF-8">

  <link rel="stylesheet" type="text/css"  href="video4.css" />

</head>

<body>
<div class="container">
<a href="/indepthguide4"> <img style="width: 49px; height: 52px; left: 20px; top: 20px; position: absolute; mix-blend-mode: darken" src="/images/image 2.png" /> </a>
<div style="left: 145px; top: 80px; position: absolute; text-align: center; color: black; font-size: 32px; font-family: Inter; font-weight: 400; word-wrap: break-word">Wellbeing</div>
<p>Wellbeing is A state of overall health and contentment, As well as trying to have a physical, 
  mental, and emotional balance. It is not merely the absence of illness,but having sense of vitality 
  and just thriving. Wellbeing includes positive relationships, a sense of purpose, the ability to 
  manage stress effectively, as well as the pursuit of life goals and personal fulfillment.</p>
<div style="left: 30px; top: 410px; position: absolute; text-align: center; color: black; font-size: 24px; font-family: Inter; font-weight: 400; word-wrap: break-word">Links to videos below:</div>

<a href="https://www.youtube.com/watch?v=2J5fsLacka0" target="_blank"
rel="noopener noreferrer" class="url-tailor">What is mindfulness meditation</a>

<a href="https://www.youtube.com/watch?v=x6bz_ekkrYA" target="_blank"
rel="noopener noreferrer" class="url-tailoring">5 steps to wellbeing</a>

<a href="https://www.youtube.com/watch?v=pdjaxS4ME2A" target="_blank"
rel="noopener noreferrer" class="url-tailored">Gaining confidence and maintaining self essteem</a>


</div>
</body>

</html>