<!-- This page provides links to video on mental health.-->

<!DOCTYPE html>

<html lang="en">

<head>

  <meta charset="UTF-8">

  <link rel="stylesheet" type="text/css"  href="video.css" />

</head>

<body>

  <div class="container">
<a href="/indepthguide"> <img style="width: 49px; height: 52px; left: 20px; top: 20px; position: absolute; mix-blend-mode: darken" src="/images/image 2.png" /> </a>
<div style="left: 125px; top: 80px; position: absolute; text-align: center; color: black; font-size: 32px; font-family: Inter; font-weight: 400; word-wrap: break-word">Mental health</div>
<p> Mental health includes our emotional, psychological, and social well-being. It affects how we think, feel, 
  and act as we cope with life. It also helps determine how we handle stress, relate to others, and make choices.</p>
  <div style="left: 30px; top: 310px; position: absolute; text-align: center; color: black; font-size: 24px; font-family: Inter; font-weight: 400; word-wrap: break-word">Links to videos below:</div>
  
<a href="https://www.youtube.com/watch?v=754__xBsak4&t=0s" target="_blank" rel="noopener noreferrer"
class="url-tailor"> Understanding mental health</a>

<a href="https://www.youtube.com/watch?v=yG0Zj37K5bA" target="_blank" rel="noopener noreferrer"
class="url-tailoring">Mental health: Colossal questions</a>

<a href="https://www.youtube.com/watch?v=49mfPFTZsHs" target="_blank" rel="noopener noreferrer"
class="url-tailored">Mental health: Break the Stigma</a>

<a href="https://www.youtube.com/watch?v=nCrjevx3-Js" target="_blank" rel="noopener noreferrer"
class="presentation-tailor">Mental health: animation</a>

<a href="https://www.youtube.com/watch?v=uPh4-DU6MDU" target="_blank" rel="noopener noreferrer"
class="presentation-tailored">Mental health: Bridge the gap</a>

</div>

</body>

</html