body, html {

  height: 100%;

  margin: 0;

  font-family: Arial, sans-serif;

  background: linear-gradient(to bottom, #ff7f7f, #fafafa);

  display: flex;

  justify-content: center;

  align-items: center;

}

.container {

     width: 300px;

     padding: 20px;

     background: white;

     border-radius: 5px;

     box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);

     position: relative;

}

h1 {

  color: #000; 

  margin-bottom: 20px; 

  text-align: center;

  position: center;

  top: 10%;

  width: 100%;

}

.container p {
    
  text-align: center;
  
  color: black;
    
  font-size: 24px;
    
  font-family: Inter;
    
  font-weight: 400;
    
  word-wrap: break-word;
    
  margin-bottom: 30px;  

}

input[type="text"],

input[type="password"] {

  width: 100%;

  padding: 10px;

  margin: 10px 0;
  
  border: 1px solid #ddd;

  border-radius: 5px;

  box-sizing: border-box;

}

.button-tailor {

    width: 100%;

    padding: 10px;

    border: none;

    border-radius: 5px;

    background-color: #cd2727;

    color: white;

    cursor: pointer;

    margin-top: 10px;

}

.back-button {

    position: absolute;

    top: 15px;

    left: 15px;

    text-decoration: none;

    font-size: 24px;

    color: #333;

}