<!DOCTYPE html>

<html lang="en">

<head>

  <meta charset="UTF-8">

  <link rel="stylesheet" type="text/css"  href="article2.css" />

 
</head>

<body>

<div class="container">
<a href="/indepthguide3"> <img style="width: 49px; height: 52px; left: 20px; top: 20px; position: absolute; mix-blend-mode: darken" src="/images/image 2.png" /> </a>
<div style="left: 125px; top: 80px; position: absolute; text-align: center; color: black; font-size: 26px; font-family: Inter; font-weight: 400; word-wrap: break-word">Physical/Mental disabilities</div>
<p>Physical/mental disabilities are a diverse range of conditions that may impair a person's physical, 
sensory, cognitive, or mental functions. These disabilities can genetic or developed growing up and 
can vary in terms of severity. They may affect an individual's mobility, coordination, learning, 
communication, or mental health. Recognizing the unique challenges and strengths of each person, 
we can strive to foster an environment where individuals with disabilities can live with dignity and 
participate within the community.</p>
<div style="left: 30px; top: 310px; position: absolute; text-align: center; color: black; font-size: 24px; font-family: Inter; font-weight: 400; word-wrap: break-word">Links to articles below:</div>

</div>
</body>

</html>