<!DOCTYPE html>

<html lang="en">

<head>

  <meta charset="UTF-8">

  <link rel="stylesheet" type="text/css"  href="article2.css" />

 
</head>

<body>

<div class="container">
<a href="/indepthguide2"> <img style="width: 49px; height: 52px; left: 20px; top: 20px; position: absolute; mix-blend-mode: darken" src="/images/image 2.png" /> </a>
<div style="left: 125px; top: 80px; position: absolute; text-align: center; color: black; font-size: 32px; font-family: Inter; font-weight: 400; word-wrap: break-word">Bullying</div>
<p>Bullying is a repeated, intentional behavior that involves putting someone down to fuel your ego. It can take the form of physical aggression, 
verbal harassment, or social exclusion. Bullying can have serious and long-lasting effects on the mental health and well-being of individual. It's important to recognize, prevent, and take action against bullying in all forms.</p>
<div style="left: 30px; top: 310px; position: absolute; text-align: center; color: black; font-size: 24px; font-family: Inter; font-weight: 400; word-wrap: break-word">Links to articles below:</div>

</div>
</body>

</html>
