<!-- This webpage will allow you to send any concerens regarding the webistte hybrid or general 
improvements that could be made.-->

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" href="support.css"/>
  </head>
  <body>
    <div class="container">
    
    <img style="width: 100%; height: 100%; mix-blend-mode: darken" />
    <a href="/home">  <img style="width: 49px; height: 52px; left: 20px; top: 20px; position: absolute; mix-blend-mode: darken" src="/images/image 12.png" /> </a>
    <div style="left: 40px; top: 90px; position: absolute; text-align: center; color: black; font-size: 23px; font-family: Inter; font-weight: 400; word-wrap: break-word">Learn, identify and expend your mind</div>
    <textarea id="support" rows="6" cols="50">We will get in touch with you soon</textarea>
    <button class="button-tailor">Send message</button>
</div>

</body>

</html>
