<!--This page allows you to recover your login if you forgotten your password by entering your 
username.-->

<!DOCTYPE html>

    
<html lang="en">

<head>

  <meta charset="UTF-8">

  <link rel="stylesheet" type="text/css" href="forgot.css" />

</head>

<body>

  <div class="container">

    <h1>Mental Health app</h1>

    <form action="/newpass" method="get">

      <input type="text" name="username" id="username" placeholder="Enter Username" required>

      <button type="submit" class="button-tailor" id="forgetButton">Enter your password</button>

    </form>

    <a href="/" class="back-button">&larr;</a>

  </div>

</body>

</html>
