<!--This page allows ypu to select a topic to learn more about.-->

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" href="guide.css"/>
  </head>
  <body>
    <div class="container">
    
    <img style="width: 100%; height: 100%; mix-blend-mode: darken" />
    <a href="/home">  <img style="width: 49px; height: 52px; left: 20px; top: 20px; position: absolute; mix-blend-mode: darken" src="/images/image 12.png" /> </a>
    <div style="left: 40px; top: 90px; position: absolute; text-align: center; color: black; font-size: 23px; font-family: Inter; font-weight: 400; word-wrap: break-word">Learn, identify and expend your mind</div>
    <a href="/indepthguide"> <div class="health-tailor"></div> </a>
    <a href="/indepthguide"> <div class="bully-tailor"></div> </a>
    <a href="/indepthguide"> <div class="disability-tailor"></div> </a>
    <a href="/indepthguide"> <div class="wellbeing-tailor"></div> </a>
    <button class="button-tailor" type="submit" id="tailorButton" value="tailorcontent">Tailor content</button>
    <div style="left: 130px; top: 195px; position: absolute; text-align: center; color: black; font-size: 28px; font-family: Inter; font-weight: 400; word-wrap: break-word">Mental Health</div>
    <div style="left: 160px; top: 340px; position: absolute; text-align: center; color: black; font-size: 28px; font-family: Inter; font-weight: 400; word-wrap: break-word">Bullying</div>
    <div style="left: 65px; top: 495px; position: absolute; text-align: center; color: black; font-size: 28px; font-family: Inter; font-weight: 400; word-wrap: break-word">Physical/Mental disabilities</div>
    <div style="left: 150px; top: 645px; position: absolute; text-align: center; color: black; font-size: 28px; font-family: Inter; font-weight: 400; word-wrap: break-word">Wellbeing</div>
</div>

</body>

</html>
