<!--This page will allow to select presentations, videos and articles in which clicking the icons
will transistion you to another page with the guide defeintion and thde url's to other website
further explaing these guides.-->

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" href="indepthguide.css"/>
  </head>
  <body>
    <div class="container">
    <img style="width: 100%; height: 100%; mix-blend-mode: darken" />
    <a href="/guide">  <img style="width: 49px; height: 52px; left: 20px; top: 20px; position: absolute; mix-blend-mode: darken" src="/images/image 2.png" /> </a>
    <div style="left: 125px; top: 170px; position: absolute; text-align: center; color: black; font-size: 32px; font-family: Inter; font-weight: 400; word-wrap: break-word">Select a guide</div>
    <img style="width: 100px; height: 100px; left: 80px; top: 270px; position: absolute; mix-blend-mode: darken" src="/images/image 21.png" />
    <div style="left: 55px; top: 390px; position: absolute; text-align: center; color: black; font-size: 32px; font-family: Inter; font-weight: 400; word-wrap: break-word">Presentation</div>
    <img style="width: 100px; height: 100px; left: 260px; top: 270px; position: absolute; mix-blend-mode: darken" src="/images/image 22.png" />
    <div style="left: 260px; top: 390px; position: absolute; text-align: center; color: black; font-size: 32px; font-family: Inter; font-weight: 400; word-wrap: break-word">Articles</div>  
    <img style="width: 100px; height: 100px; left: 170px; top: 470px; position: absolute; mix-blend-mode: darken" src="/images/image 23.png" />
    <div style="left: 175px; top: 600px; position: absolute; text-align: center; color: black; font-size: 32px; font-family: Inter; font-weight: 400; word-wrap: break-word">Videos</div>
</div>

</body>

</html>
