<!-- It dynamically displays the forum name in the title and heading, and offers a form for new users 
to register their details, including full name, username, password, and age. --> 

<!-- The template includes a CSS link for styling, a back button for easy navigation to the login 
page, and client-side JavaScript for additional functionality. The registration form, styled by 
register.css, sends data to the /register route for processing. -->

<!-- Two back-navigation options are provided: one as a textual link and the other as a symbolic 
arrow, enhancing user experience and accessibility.-->


<!DOCTYPE html>

<html lang="en">

<head>

  <meta charset="UTF-8">

  <title><%= forumName %> - Register</title>

  <link rel="stylesheet" type="text/css"  href="register.css" />

</head>

<body>

  <div class="container">

    <a href="login.ejs" class="back-button">←</a>

    <h1><%= forumName %></h1>

      <form action="/register" method="post">

      <input type="text" name="fullName" id="fullName" value="" placeholder="Enter Full name" required>

      <input type="text" name="username" id="username" value="" placeholder="Enter Username" required>

      <input type="password" name="password" id="password" value="" placeholder="Enter password" required>

      <input type="number" name="age" id="age" placeholder="Enter age" required>

      <button type="submit" id="joinButton" value="register">Join</button>

    </form>

    <a href="/" class="back-button">&larr;</a>

  </div>

  <script src="script.js"></script>

</body>

</html>
