<!DOCTYPE html>

<html lang="en">

<head>

  <meta charset="UTF-8">

  <link rel="stylesheet" type="text/css"  href="video3.css" />

</head>

<body>
<div class="container">
<a href="/indepthguide3"> <img style="width: 49px; height: 52px; left: 20px; top: 20px; position: absolute; mix-blend-mode: darken" src="/images/image 2.png" /> </a>
<div style="left: 125px; top: 80px; position: absolute; text-align: center; color: black; font-size: 32px; font-family: Inter; font-weight: 400; word-wrap: break-word">Physical/Mental disabilities</div>

<div style="left: 30px; top: 310px; position: absolute; text-align: center; color: black; font-size: 24px; font-family: Inter; font-weight: 400; word-wrap: break-word">Links to videos below:</div>
  
</div>
</body>

</html>